@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 100px;
}

input {
    padding: 6px 12px;
    margin: 6px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #439A97;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #62B6B7;
    padding: 10px 24px;
}

#weather-details {
    margin: 20px;
}
